.signer{
	background-color:#ffffff;
	color:#757272;
}
.Project{
	color:#8e8585;
    text-decoration: none;
    background-color: transparent;
}

.con{
	background-color:#d0d4b0;
	margin-left: 0px;
	width:1300px;
	padding-left:40px;
	padding-bottom:
	padding-top: 30px;
	height:400px;
}
.cont{
	margin-left: 30px;
	width:1300px;
	padding-left:40px;
	background-color:#f3e9e9;
	padding-bottom:30px;
	padding-top:60px;
	width:1300px;
	padding-right: 40px;


}
.jub{
	margin-bottom:0px;
}